body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.login {
    height: 365px;
    width: 311px;
    background: #000;
    color: #fff8dc;
    padding-top: 16px;
    margin: 185px;
    text-align: -webkit-center;
}
.fBody {
    background: gray;
    text-align: -webkit-center;
    padding: 5px;
    margin: 0px;
}